certifi
chardet
comtypes
dxcam
EasyProcess
entrypoint2
googletrans==4.0.0rc1
h11
h2
hpack
hstspreload
httpcore
httpx=
hyperframe
idna
keyboard
MouseInfo
numpy
opencv-python
packaging
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
PyRect
pyscreenshot
PyScreeze
pytesseract
pytweening
rfc3986
sniffio
